/* *{
  border: border-box;
  display: flex;
} */

.App{
  background-color: beige;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.innerContainer{
  display: flex;
  
  justify-content: space-between;
  border-radius: 10px;
  width: 50%;
  height: auto;
  background-color: white;
  padding: 0px;
  
}

 .Image{
  height: 100%;
  width: 100%;
}  
.text{
  padding: 20px;
  width: 100%;
}
.textContainer{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 100%;

}

h1{
  font-weight: 1200;
  font-size: 3em;
}
p{
  font-size: 20px;
}

.Price{
  display: flex;
}
.stroke{
  text-decoration: line-through;

}

.greenText{
  color: darkcyan;
}

button{
  padding: 5px 15px;
  background-color: darkcyan;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
}

button > img{
  width: 20px;
}